*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% repeat(2, 35%) 15%;
    width: 100%;
}

header{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

nav{
    background-color: darkcyan;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

main{
    background-color: aquamarine;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

img{
    width: 10%;
    visibility: hidden;
}

footer{
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}