*{
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    background-color: tan;
    height: 300px;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
}

main > div{
    height: 100px;
    background-color: turquoise;
    width: 300px;
    border: 1px solid black;
}

.A{
    align-self: flex-end;
    margin-bottom: 30px;
}

.B{
    align-self: center;
}