* {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
}

header {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
    display: flex;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center
}

main {
    grid-template-columns: 1 / 2;
    grid-template-rows: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer {
    grid-template-columns: 1 / 2;
    grid-template-rows: 3 / 4;
    display: flex;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center
}

article {
    display: flex;
}

h1 {
    color: white;
    width: auto;
    height: auto;
    text-align: center;
}

h3 {
    height: auto;
}

.recurso {
    width: 100%;
    height: auto;
}

.recurso img,
.recurso video {
    width: 100%;
    height: auto;
}

.texto {
    margin-left: 5%;
}

.art-1 {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
}

.art-2 {
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 / 2;
}

.art-3 {
    grid-template-columns: 1 / 2;
    grid-template-rows: 2 / 3;
}

.art-4 {
    grid-template-columns: 2 / 3;
    grid-template-rows: 2 / 3;
}

@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    article {
        flex-wrap: wrap;
    }

    .art-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .art-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .art-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .art-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .texto {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    main {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .art-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .art-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .art-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .art-4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}